/*Carousel*/

.carouselImg{
    max-height: 600px;

    overflow-x: hidden;
}

/*Text */

.textContainer {
    background-color: #97A149;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 40px;

    padding: 8rem;
}

.titleText {
    text-shadow: 1px 1px 1px #000;

    font-size: 28px;
    font-weight: 500;

    margin-bottom: 2rem;
}

.textContainer p {
    font-size: 20px;
}

.buttonWhatsapp {
    background-color: #465123;
    border-radius: 20px;
    border: 2px solid #D69723;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    font-size: 23px;

    margin-top: 2.5rem;

    padding: 0.8rem;
}

.buttonWhatsapp a {
    color: #ffffff;

    font-weight: 600;

    margin-right: 1rem;
    text-decoration: none;
}

.iconWhatsapp {
    color: #ffffff;

    font-size: 23px;
}

.titleAbout {
    font-size: 28px;
    font-weight: 500;

    margin: 4rem 0 2rem 0;
}

/*Why chose*/

.reasonContainer {
    background-color: #97A149;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 40px;

    padding: 2rem;
}

.reasonTitle{
    text-shadow: 1px 1px 1px #000;

    font-size: 28px;
    font-weight: 500;

    margin: 0 0 2rem 0;
}

.list{
    font-size: 20px;
}

/* Galery */

.galery {
    background-color: #97A149;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    margin: 40px;

    padding: 1rem;
}

.galeryTitle {
    text-shadow: 1px 1px 1px #000;

    font-size: 28px;
    font-weight: 500;

    margin-bottom: 2rem;
    text-align: center;
}

.galeryContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;

    padding: 1rem;
}

.card {
    background-color: #242C11;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;

    color: #ffffff;

    padding: 1rem;

    width: 200px;
}

.cardTitle {
    text-shadow: 1px 1px 1px #000;

    font-size: 20px;
    font-weight: 600;

    text-align: center;
}

.cardDesciption {
    font-size: 18px;
    font-weight: 500;

    width: 200px;
}

/*Video */

.titleVideo {
    text-shadow: 1px 1px 1px #000;

    font-size: 35px;

    text-align: center;
}

.subtitle {
    text-shadow: 1px 1px 1px #000;
    
    font-size: 34px;
    font-weight: 600;

    margin-bottom: 2rem;

    text-align: center;
}

.videoSection {
    background-color: #97A149;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    margin: 40px;

    text-align: center;
}

/*Responsive*/

@media screen and (max-width:785px) {
    .card {
        margin-top: 2rem;
    }

    .videoSection {
        margin: 2rem 0 0 0;

        padding: 1rem;
    }

    iframe {
        max-width: 100%;
    }

    .reasonContainer {
        margin: 0;
    }

    .galery {
        margin: 2rem 0 0 0;
    }

    .textContainer{
        margin: 2rem 0 0 0;
        
        padding: 1rem;
    }
}