.menu {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 2;
}

.menuNav {
    display: flex;
    list-style: none;
}

.menuItem {
    color: #D69723;
    font-size: 23px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    margin-right: 1rem;
}

.menuItem:hover {
    font-size: 25px;
    transition: 1s;
}

.logo {
    height: 100px;
    width: 200px;
}

/* burguer menu style */

.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
}

.bm-burger-bars {
    background: #D69723;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #D69723;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: #ffffff;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-item-list {
    color: #D69723;
    padding: 0.8em;
}

.bm-item {
    background-color:rgba(0, 0, 0, 0.3) ;

    display: inline-block;
    margin-bottom: 1rem;
    color: #D69723;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

.bm-item:hover {
    font-size: 25px;
    transition: 1s;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 5%;
    left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10 !important;
}

.burgerIcon {
    color: #D69723;
    font-size: 30px;
}

/*Responsive*/

@media (max-width: 768px) {
    .menuNav {
        display: none;
    }
}

@media (min-width: 769px) {
    .bm-burger-button {
        display: none;
    }
}