.menu {
    background-color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
}

.menuNav {
    display: flex;

    list-style: none;
}

.menuItem {
    color: #D69723;

    font-size: 23px;

    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

.menuItem {
    margin-right: 1rem;
}

.logo {
    height: 100px;
    width: 200px;
}

.menuItem a:hover {
    font-size: 25px;

    transform: 1s;
}