
.contact{
    background-color: #465123;

    border-radius: 20px;

    padding: 2rem;
}

.title{
    color: #ffffff;

    font-size: 24px;

    margin-bottom: 1.8rem;
}

.list{
    color: #ffffff;

    font-size: 19px;
    font-weight: bold;
}

.footer{
    background-color: #ffffff;

    text-align: center;
}

.logoFooter{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
}