@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    background: linear-gradient(#779238, #748D37, #242C11);

    font-family: "Montserrat", sans-serif;

    overflow-x: hidden;
}