

/*Banner */

.banner{
    background-image: url('/src/assets/macchuPicchu.jpg');
    background-size: cover;

    height: 600px;

    margin-top: 2rem;
}

.bannerText{
    background: rgba(0, 0, 0, 0.5);

    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 600px;
}

.bannerTitle{
    font-size: 40px;
    font-weight: 500;

    margin-bottom: 2rem;
}

.bannerText p{
    font-size: 25px;

    max-width: 500px;
}

.textContainer{
    background-color: #97A149;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    margin: 40px;
    padding: 2rem;
}

.finalText{
    margin: 45px;
}


.title {
    font-size: 32px;
    font-weight: 600;

    margin-bottom: 2rem;

    text-align: center;
}

.subtitle {
    font-size: 35px;
    font-weight: 600;

    margin-bottom: 2rem;

    text-align: center;
}

.text {
    font-size: 20px;
    margin-bottom: 2rem;
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
}

.img {
    height: 400px;
    width: 400px;
}